{% extends "base.html" %}
{% load static %}
{% block content %}

<img class="imagem" src="{% static 'img/duvida.jpeg' %}" alt="">

<div id="text">
    <div class="ipsum1">
        <p>Silvio Santos Ipsum É bom ou não éam? Mah roda a roduamm. Ha haeeee. Hi hi. É por sua conta e riscoamm? Valendo um milhão de reaisammm. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. O prêmio é em barras de ouro, que vale mais que dinheiroam.

                Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Ma não existem mulher feiam, existem mulher que não conhece os produtos Jequitiamm. O prêmio é em barras de ouro, que vale mais que dinheiroam. É fácil ou não éam? Wellintaaammmmmmmmm. O Raul Gil é gayam! ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm!
                
                É por sua conta e riscoamm? É dinheiro ou não éam? Ha haeeee. Hi hi. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Ma quem quer dinheiroam? Ma! Ao adquirir o carnê do Baú, você estará concorrendo a um prêmio de cem mil reaisam.
                
                É com você Lombardiam. Mah é a porta da esperançaam. Valendo um milhão de reaisammm. Wellintaaammmmmmmmm. Mah roda a roduamm. Ma você, topa ou não topamm.</p>
    </div>
    <div class="ipsum1">
       <p>Silvio Santos Ipsum Ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Valendo um milhão de reaisammm. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Boca sujuam... sem vergonhuamm. Ma você está certo dissoam? É fácil ou não éam? Ma você, topa ou não topamm.

            O arriscam tuduam, valendo um milhão de reaisuam. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Boca sujuam... sem vergonhuamm. É fácil ou não éam? Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Ma vale dérreaisam?
            
            Ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Wellintaaammmmmmmmm. Ma vai pra lá. Eu só acreditoammmm.... Vendoammmm. Ma você, topa ou não topamm. Ma tem ou não tem o celular do milhãouamm?
            
            Ma vai pra lá. Ma tem ou não tem o celular do milhãouamm? É com você Lombardiam. Ma quem quer dinheiroam? Patríciaaammmm... Luiz Ricardouaaammmmmm. Eu só acreditoammmm.... Vendoammmm.</p>
    </div>
</div>

{% endblock %}